
.centrar {
  text-align: center;
}

#logo-pilarh {
  width: 360px;
  margin-bottom: 25px;
}

.container{
  margin-top: 10%;
}

h1 {
  font-family: montse-bold;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #326535;
  text-align: center;
  background: transparent;
  margin-top: 20px;
}

input:focus{
  outline: 2px solid #326535;
}


.btn {
  width: 217px;
  height: 37px;
  text-align: center;
  font-family: montse-bold;
  font-size: 15px;
  border-radius: 50px;
  color: white;
  margin-bottom: 15px;
}

#iniciar {
  background-color: #326535;
  margin-top: 15px;
}

#cancelar {
  background-color: #727777;
  margin-top: 15px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}
