  <app-header-usuarios></app-header-usuarios>

  <div id= "container" class="container">
    <div class="contenido">
      <div class="row">
        <h1 class="col-6"><b>Encomiendas Recibidas</b></h1>
        <select class="col-6" [formControl]="estado" (change)="filtrarEncomiendas()">
          <option value="" selected>Estado</option>
          <option *ngFor="let est of estadosEncomiendas" value="{{est.id_estado}}"> {{est.estado}}</option>
        </select>
      </div>
      <div class="contenido padre" *ngIf="!load">
        <div class="hijo">
          <app-loading></app-loading>
        </div>
      </div>
      <div class="contenido" *ngIf="resultados==false && load">
        <h2>Lo sentimos, no hemos encontrado resultados.</h2>
      </div>

      <table class="table" *ngIf="resultados==true && load">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Enviado por</th>
            <th scope="col">Emisor</th>
            <th scope="col">Recibe</th>
            <th scope="col">Fecha y hora de llegada</th>
            <th scope="col">Estado</th>
            <th scope="col">  </th>
            <th scope="col">  </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enc of encomiendas
                      | paginate: { id: 'foo',
                      itemsPerPage: 30,
                      currentPage: page } "
                      [ngClass]="{'reciente': enc.estado == 'RECIENTE', 'pendiente': enc.estado == 'PENDIENTE', 'confirmado': enc.estado == 'CONFIRMADO' }">
            <th class="cod" scope="row">{{enc.codigo_encomienda}}</th>
            <td>{{enc.envia}}</td>
            <td>{{enc.emisor}}</td>
            <td>{{enc.recibe}}</td>
            <td>{{enc.fecha_llegada}} {{enc.hora_llegada}}</td>
            <td>{{enc.estado}}</td>
            <td title="Ver mas detalles">
                <fa-icon [icon]="faEye" (click)="verEncomienda(enc.id_encomienda,modalVerEncomienda)"> </fa-icon>
            <td *ngIf="enc.estado=='RECIENTE'">
              <button class="aceptar" (click)="validarEncomienda(enc.id_encomienda)"><u> validar</u></button >
            </td>
            <td *ngIf="enc.estado=='PENDIENTE'">
              <button class="aceptar" (click)="confirmarEncomienda(enc.id_encomienda)"><u> confirmar</u></button>
            </td>
            <td *ngIf="usuario.nombre!=enc.emisor && enc.estado=='CONFIRMADO'">
            </td>
            <td *ngIf="usuario.nombre==enc.emisor && enc.estado=='CONFIRMADO'">
              <button class="aceptar" (click)="verAcuse(enc, modalVerAcuse)"><fa-icon [icon]="faPrint"> </fa-icon> <u> imprimir</u></button>
            </td>
           

          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="encomiendas.length>29" style="display: 'block';"
        class = "custom-pagination"
        id="foo"
        (pageChange)="page = ($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
      <pagination-controls *ngIf="encomiendas.length<=29" style="display: 'none';"
        id="foo"
        (pageChange)="page = ($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>


  <!-- imprimir acuse -->
  <ng-template #modalVerAcuse let-modal>
    <div id="acuse" *ngIf="acuseRecibo!=null"  class="acuse" #acuse>
      <div class="encab">
          <img src="../../../../assets/img/Logo-PILARH.png" alt="">
          <div class="year"> <h1>{{anio1}}</h1></div>  
      </div>
      <div style="text-align: center;">
          <h2> <u>Acuse de recibo</u> </h2>
      </div>
      <div class="cuerpo">
          <p> <b>De:</b> {{acuseRecibo.envia}} </p>
          <p> <b>Enviado por:</b> {{acuseRecibo.emisor}}</p>
          <p> <b>Para:</b> {{acuseRecibo.recibe}}</p>
          <p> <b>Atendido por: </b> {{acuseRecibo.receptor}}</p>
          <p> <b>Fecha y hora de salida:</b> {{acuseRecibo.fecha_envio}}</p>
          <p> <b>Fecha y hora de llegada:</b> {{acuseRecibo.fecha_llegada}}</p>
          <p> <b>Descripción: </b>{{acuseRecibo.descripcion}} </p>
      </div>
      <div class="firma">
          <div class="firmem">
              <img class="imgfirmem" src="{{acuseRecibo.firma_emisor}}" alt="{{acuseRecibo.emisor}}">
              <p><b>Firma quien envia</b></p>
          </div>
          <div class="firmem">
              <img class="imgfirmem" src="{{acuseRecibo.firma_receptor}}" alt="{{acuseRecibo.receptor}}">
              <p><b>Firma quien Recibe</b></p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
      <button class="btn btnPilarh" 
      printSectionId="acuse"
      [useExistingCss]="true"
      ngxPrint>Imprimir</button><br>
    </div>
  </ng-template>
  


<ng-template #modalVerEncomienda let-modal>
  <div class="modal-header" style="background-color: #326535;">
    <h4 class="modal-title" id="modal-basic-title" style="color: #fff;"> Detalles de encomienda</h4>
    <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <div aria-hidden="true">&times;</div>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <p> <b>De:</b> {{ encom.envia }}</p>
      <p> <b>Telefono:</b> {{encom.telefono_emisora}}</p>
      <p> <b>Para:</b> {{ encom.recibe }}</p>
      <p> <b>Telefono:</b> {{encom.telefono_receptora}}</p>
      <p> <b>Enviado por:</b> {{ encom.emisor }}; {{encom.correo_emisor}}</p>
      <p *ngIf="encom.estado == 'PENDIENTE' || encom.estado == 'CONFIRMADO' "> <b>Atendido por:</b> {{ encom.receptor }}; {{encom.correo_receptor}}</p>
      <p> <b>Empresa:</b> {{ encom.empresa }}</p>
      <p> <b>Chofer:</b> {{ encom.chofer }}</p>
      <p> <b>#Teléfono chofer:</b> {{ encom.telefono_chofer }}</p>
      <p *ngIf="encom.descripcion_transporte !== null"> <b>Descripción de transporte: </b>{{ encom.descripcion_transporte}}</p>
      <p> <b>Fecha y hora de salida:</b> {{ encom.fecha_envio }} {{ encom.hora_envio }}</p>
      <p> <b>Fecha y hora de llegada:</b> {{ encom.fecha_llegada }} {{ encom.hora_llegada }}</p>
      <p> <b>Descripción: </b>{{ encom.descripcion }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
  </div>
</ng-template>
