<main *ngIf="!load" class="container">
  <div class="centrar padre" *ngIf="!load">
    <div class="hijo">
      <app-loading></app-loading>
    </div>
  </div>
</main>

<main *ngIf="load" class="container">
  <div class="sombra">
    <div class="centrar">
      <img id="logo-pilarh" class="img-fluid" src="../../../assets/img/Logo-PILARH.png" alt="logo Pilarh">
    </div>
    <div class="centrar">
        <form [formGroup]="sesion" >
          <h1>Cambio de conraseña</h1>
          <input type="text" formControlName="cod_usuario" placeholder="Ingrese su código"> <br>
          <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password" placeholder="Contraseña">
          <fa-icon *ngIf="!fieldTextType" [icon]="faEye" (click)="toggleFieldTextType()" > </fa-icon>
          <fa-icon *ngIf="fieldTextType" [icon]="faEyeSlash" (click)="toggleFieldTextType()" > </fa-icon> <br>
          <input [type]="fieldTextType2 ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirmar contraseña">
          <fa-icon *ngIf="!fieldTextType2" [icon]="faEye" (click)="toggleFieldTextType()" > </fa-icon>
          <fa-icon *ngIf="fieldTextType2" [icon]="faEyeSlash" (click)="toggleFieldTextType()" > </fa-icon>
        </form>
    </div>
    <div class="centrar">
        <button [ngClass]="{'disabled': sesion.invalid, 'enabled': sesion.valid  }" id="iniciar" class="btn btnPilarh" (click)="resetPassword()" >Realizar</button><br>
        <button id="cancelar" class="btn btnPilarh2" type="submit" routerLink="/login"> Cancelar</button><br>
    </div>
  </div>
</main>
